
# =========================================================
#  AUTHENTICATION APIs
# =========================================================
VITE_REGISTER=
VITE_LOGIN=
VITE_VERIFY=
VITE_GET_USER_DETAILS_API=


# =========================================================
#  COMMON / PUBLIC CONTENT APIs
# =========================================================
VITE_FETCH_TESTIMONIAL=
VITE_FETCH_WEBSITE_MEDIA=
VITE_FETCH_ADVERTISMENT_API=


# =========================================================
#  COLLEGE APIs
# =========================================================
VITE_FETCH_COLLEGES_MEDIA=
VITE_FETCH_COLLEGE_BY_NAME=
VITE_SEARCH_COLLEGE_COURSE =

# =========================================================
#  FILTER & SEARCH APIs
# =========================================================
VITE_FETCH_COLLEGES_FILTER=
VITE_SEARCH_COLLEGE_EXAM_COURSE =


# =========================================================
#  LOCATION APIs
# =========================================================
VITE_FETCH_ALL_CITIES=


# =========================================================
#  STREAM APIs
# =========================================================
VITE_FETCH_ALL_STREAM=
# VITE_FETCH_ALL_STREAM_COUNT=

# =========================================================
#  ARTICLE APIs
# =========================================================
VITE_FETCH_ALL_ARTICLE=
VITE_FETCH_ALL_ARTICLE_CATEGORY=
VITE_FETCH_ARTICLE_BY_SLUG=
VITE_FETCH_ALL_ARTICLE_BY_CATEGORY=


# =========================================================
#  EXAM APIs
# =========================================================
VITE_FETCH_ALL_EXAM_CATEGORY=
VITE_FETCH_ALL_EXAM=
VITE_FETCH_EXAM_BY_NAME=
VITE_SEARCH_EXAM_BY_NAME=


# =========================================================
# LEAD & CONTACT APIs
# =========================================================
VITE_ADD_LEAD_COLLEGE_API=
VITE_ADD_CONTACT_API=

